
body {
  overflow: hidden;
  font-family: "news-gothic-std", Helvetica, Arial, sans-serif;
  height: 400px;
}

html,
body {
  width: 100%;
  height: 100%;
}

#policeandfire {
  float: right;
  width: 145px;
}

#totalLabel {
  width: 90%;
}

#youpay {
  font-size: 0.9em;
}

.wrapper {
  width: 100%;
  height: 90px;
}

#totalbar {
  height: 20px;
}

.bold {
  font-weight: bold;
}

.billholder {
  width: 95%;
}

.right {
  float: right;
  margin-right: 10px;
}

.dollarfigure {
  width: 70%;
}

.dollarfiguresmall {
  width: 30%;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.column {
  height: 100%;
}

#total {
  float:right;
  width: 28%;
  margin-left: 20px;
}

#placeholder {
  height: 22px;
  font-weight: bold;
}

#slider {
  width: 50px;
}

.label {
  border-bottom: 1px solid black;
  height: 20px;
  font-size: 0.8em;
  font-weight: bold;
}

.dollarholder {
  height: 30px;
  float: right;
  width: 100%;
  font-size: 0.8em;
}

#labels {
  width: 5%;
  float: right;
  font-weight: bold;
}

#calculator {
  height: 100%;
}

#answerbox {
  height: 80px;
  float: right;
}

#youpay {
  float: right;
}
