html,
body {
  font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
  height: auto;
  max-width: 850px;
}

label {
  font-size: 1.1em;
}
input[type='text'] {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

a,
a:focus,
a:visited,
a:active {
  color: #B43018;
}
a:hover {
  color: #B43018;
  text-decoration: underline;
}

.columns { padding-left: 0; }

.title {
  font-size: 2em;
  line-height: 1.2em;
  padding-bottom: 10px;
}

.intro-text {
  font-size: 1em;
  padding-top: 10px;
}

.question {
  padding-top: 10px;
  padding-bottom: 10px;
}

.big-label {
  font-size: 1.5em;
  line-height: 1em;
}
.tiny-label {
  font-size: 0.9em;
  line-height: 1.4em;
  padding-top: 2px;
  padding-bottom: 2px;
}

.radio-button-group {
  padding-top: 10px;
  padding-left: 5px;
}

.bold {
  font-weight: bold;
}
.highlight {
  font-size: 1.1em;
  padding: 3px;
  border-radius: 3px;
  background-color: gold;
}

.credit {
  font-size: 0.9em;
  color: dimgray;
  border-top: 1px solid lightgray;
  padding-top: 10px;
}

@media screen and (max-width: 600px) {
  .tiny-label {
    padding: 5px 0;
  }
}
